@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";





.container{
    max-width:90%;
    margin: 0px auto;
#header{
    
        .logo{
        font-size: 25px; 
        font-weight: 700;
        display: inline-block;
            padding: 20px 0px ;
            }
    
   
          .Menu{
                
              float:right;
              display: inline-block;
              
              
              a{
                 font-size: 15px ;  
                 font-weight:300;
                  display:inline-block;
                       padding: 40px 15px;
                        text-transform: uppercase;
                     text-decoration: none;
                   color:black;
                 
              }       
    
    }
    

    
}


#Content-area{
    .insider{width:490px;}
        
    .Model{ 
               display:inline-block;
        float:left;
              width:50%;
              text-align: center;
     img{
              // background: red;
             max-width: 400px;
        }
    
        }
        
   
        
        .sizes{
            
            li{
                
                     display:inline-block;
                    
               
               
                
            }
            
        }   
        
    .info{
        display:inline-block;
        float:left;
         width:50%;
        
        h5{
            background:red;
            color:white;
            padding:10px 5px;
            text-transform: uppercase;
            display:inline-block;
            font-weight:700; 
        }
        h1{
            font-size:44px;
            margin:15px 8px;
            
        }
        
        p{
            line-height:1.5;
             margin:15px 8px;
             display:inline-block;
            margin-bottom:10px;
        }
        .size{
            
            
            .title{
                
                font-weight:400;
                font-size:15px;
                 margin-bottom:10px;
            }
            
            .sizes{
                li{
                       display:inline-block;
                    border-radius:50%;
                    border: 3px solid black;
                     display: inline-flex;
                    align-items: center;
                   justify-content: center;
                    margin-right:10px;
                    margin-bottom:10px;
                    
                    &.circle{
                        height:30px;
                            width:30px;
                         padding: 10px 0px;
                    }
                    
                    &.semi-circle{
                        height:30px;
                  
                        padding: 10px 20px;
                             border-radius:30px;
                    }
                    
                }
            }
            
        }
        
        
        .action-btns{
            
            
            .red-hollow-btn{
                            display: inline-block;
                            border: 1px solid red;
                            display: inline-flex;
                           align-items: center;
                           justify-content: center;
                            text-transform: uppercase;
                              padding:15px 10px;
                           letter-spacing: 1.5px;
                             font-size:12px;
                .large-txt{
                    font-size:24px;
                    margin-right:10px;
                    color:red;
                    
                }                       
                
            }
            
            
            .lightgrey-btn{
                            background:grey;
                            display: inline-block;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            text-transform: uppercase;
                            padding:20px;
                            min-height:56px;
                               position: relative;
                             top:-4px;
                             min-width:180px;
                             font-size:12px;
            }
        
        
        
    }
        
        
        
       
    }



}

}
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Aligner-item {
  max-width: 50%;
}

.Aligner-item--top {
  align-self: flex-start;
}

.Aligner-item--bottom {
  align-self: flex-end;
}
